/* @font-face {
	font-family: 'HarmonyOS Sans SC';
	src: url('./static/css/HarmonyOS_Sans_SC_Medium.ttf'); 
}
@font-face {
	font-family: 'HarmonyOS Sans SC-Medium';
	src: url('./static/css/HarmonyOS_Sans_SC_Medium.ttf'); 
}
@font-face {
	font-family: 'HarmonyOS Sans SC-Regular';
	src: url('./static/css/HarmonyOS_Sans_SC_Regular.ttf'); 
}

@font-face {
	font-family: 'HarmonyOS Sans SC-Thin';
	src: url('./static/css/HarmonyOS_Sans_SC_Medium.ttf'); 
}

@font-face {
	font-family: 'HarmonyOS Sans SC-Light';
	src: url('./static/css/HarmonyOS_Sans_SC_Medium.ttf'); 
}

@font-face {
	font-family: 'HarmonyOS Sans SC-Bold';
	src: url('./static/css/HarmonyOS_Sans_SC_Medium.ttf'); 
} */
/* http://mage1116.oss-cn-hongkong.aliyuncs.com/res */



@font-face {
   
 font-family: 'NotoSansHans-Bold';
  src: url('@/static/fonts/NotoSansHans-Bold.otf') format('truetype');
  font-weight: normal;
   font-style: normal;
}
@font-face {
   
 font-family: 'OPPOSans';
  src: url('@/static/fonts/OPPOSans-R.ttf') format('truetype');
  font-weight: normal;
   font-style: normal;
}
 
@font-face {
   
 font-family: 'YaHei';
  src: url('@/static/fonts/alibaba-puhuiti-regular.ttf') format('truetype');
  font-weight: normal;
   font-style: normal;
}
 
.cf{
	background: linear-gradient(136.4968148044374deg, #01CCC2 0%, #0498D8 48%, #BC64EF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cf2{
	background: linear-gradient(136.4968148044374deg, #01CCC2 0%, #0498D8 48%, #BC64EF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cf1{
	background: linear-gradient(135.42293203520597deg, #51FAFC 0%, #539FEB 50%, #6C26B2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cf2{
	background-image: linear-gradient(226deg,rgba(81, 250, 252, 1) 0, rgba(83, 159, 235, 1) 50%, rgba(108, 38, 178, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cf3{
	background-image: linear-gradient(130.99258380975266deg, #01CCC2 0%, #0498D8 48%, #BC64EF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}